<app-admin-header></app-admin-header>
<!-- Main Section -->
<div class="content-wrapper">

    <div class="container">
        <div class="row">

            <div class="buynow">
                <div class="col-xl-12">
                    <span class="pull-left">Visitors</span>
                    <span class="pull-right">Total:</span>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="visitors">
                        <div id="horizontalTab">

                            <ul class="resp-tabs-list">
                                <li>Hourly</li>
                                <li>Daily</li>

                            </ul>
                            <div class="resp-tabs-container">

                                <div>
                                    <div class="cot_dg">
                                        <div class="dvs"><a href="#"><i class="fa fa-arrow-up"></i></a></div>
                                        <select id="example-single">
                                            <option value="">Grop by Activity</option>
                                            <option value="">Page Title</option>
                                            <option value="">Page URL</option>
                                            <option value="">Country</option>
                                            <option value="">Serving Agent</option>
                                            <option value="">Department</option>
                                            <option value="">Browser</option>
                                            <option value="">Search Engine</option>
                                            <option value="">Search Term</option>
                                        </select>
                                        <div class="col-md-4 pull-right">

                                            <div id="custom-search-input">
                                                <div class="input-group col-md-12">
                                                    <input type="text" class="form-control input-lg" placeholder="Search" />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-info" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-lg-6 row">No active visitors <a href="#" class="btn btn-info" style="margin-left:10px;">Simulate Visitor</a></div>

                                    <h5><a href="#" style="margin-top:10px; float:left;">Watch how the Visitor List works</a></h5>

                                </div>

                                <div>
                                    <div class="cot_dg">
                                        <div class="dvs"><a href="#"><i class="fa fa-arrow-up"></i></a></div>
                                        <select id="example-single">

                                            <option value="">Grop by Activity</option>
                                            <option value="">Page Title</option>
                                            <option value="">Page URL</option>
                                            <option value="">Country</option>
                                            <option value="">Serving Agent</option>
                                            <option value="">Department</option>
                                            <option value="">Browser</option>
                                            <option value="">Search Engine</option>
                                            <option value="">Search Term</option>
                                        </select>
                                        <div class="col-md-4 pull-right">

                                            <div id="custom-search-input">
                                                <div class="input-group col-md-12">
                                                    <input type="text" class="form-control input-lg" placeholder="Search" />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-info" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vst">
                                        <ul>
                                            <li>INCOMING</li>
                                            <li>ASSIGNED</li>
                                            <li>CLICKED</li>
                                            <li>SERVED</li>
                                            <li>TRIGGERED</li>
                                            <li>ACTIVE</li>
                                            <li>IDLE</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>



</div>
<app-admin-footer></app-admin-footer>
<app-logout></app-logout>

