<app-admin-header></app-admin-header>
<!-- Main Section -->
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <span class="pull-left">Goals</span>
            </div>
            <div class="col-lg-12">
                <div class="goals">

                    <h1 class="text-center">Conversion Tracking</h1>
                    <h5 class="text-center">Measure your business goals and grow your bottom line</h5>
                    <div style="width:140px; margin-left:42%; margin-bottom:20px;"><a href="#" class="btn btn-warning text-center">Upgrade Now</a></div>
                    <p class="text-center">Available only for customers on the Professional and Enterprise plans. <a href="#">Learn More.</a></p>
                    <p class="text-center"><img src="assets/img/splashscreen.png" width="100%" height="auto" style="max-width:750px; margin-top:40px;"></p>

                    <div style="width:100%; float:left; margin-top:50px; height:auto;">
                        <ul>
                            <li>
                                <p><img src="assets/img/define.png" width="200" height="200"></p>
                                <h3>Define Goals</h3>
                                <p>Create business goals using URLs to identify which pages, chats, and agents create conversion opportunities</p>
                            </li>
                            <li>

                                <p><img src="assets/img/monitor.png" width="200" height="200"></p>
                                <h3>Monitor Performance</h3>
                                <p>Track which chats fulfill your target objectives - whether it’s completing a purchase or signing up for a newsletter</p>
                            </li>

                            <li>
                                <p><img src="assets/img/improve.png" width="200" height="200"></p>
                                <h3>Improve and Iterate</h3>
                                <p>Use the data to optimize your website conversion funnel and reward high performing agents</p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
<app-admin-footer></app-admin-footer>
<app-logout></app-logout>

