<app-admin-header></app-admin-header>
<!-- Main Section -->
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <span class="pull-left">History</span>
            </div>
            <div class="col-lg-12">
                <div class="save_change">
                    <div class="right">
                        <div class="search">
                            <input type="text" class="form-control input-lg" placeholder="Search">
                        </div>
                        <div class="cancel"> Clear Search</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row child">
            <div class="table-responsive">
                <table class="table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="c1" name="cc" />
                                <label for="c1"><span></span></label>
                            </th>
                            <th>Name</th>
                            <th>Agent</th>
                            <th>Time</th>
                            <th>Rating</th>
                            <th>Department</th>
                            <th>Messages</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let chat of chats">
                        <td>
                            <input type="checkbox" id="c2" name="cc" />
                            <label for="c2"><span></span></label>
                        </td>
                        <td>{{chat.id}}</td>
                        <td>{{chat.attendedAgent}}</td>
                        <td>{{chat.created | date:'h:mma'}}</td>
                        <td>-</td>
                        <td>-</td>
                        <td>{{chat.message}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<app-admin-footer></app-admin-footer>
<app-logout></app-logout>
