<app-admin-header></app-admin-header>
<!-- Main Section -->
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <span class="pull-left">Roles</span>
            </div>

            <div class="col-lg-12">

                <div class="save_change">
                    <div class="right">
                        <div class="search">
                            <input type="text" class="form-control input-lg" placeholder="Search">
                        </div>
                        <div class="default">Add Roles</div>
                        <span class="pull-right">1 Enabled / ∞ Departments</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row department">
            <div class="table-responsive">
                <table class="table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="c1" name="cc" />
                                <label for="c1"><span></span></label>
                            </th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Agents</th>
                            <th>Enabled</th>

                        </tr>
                    </thead>
                    <tr *ngFor="let role of roles | userFilter:listFilter">

                        <td>
                            <input type="checkbox" id="c2" name="cc" />
                            <label for="c2"><span></span></label>
                        </td>
                        <td>{{role.name}}</td>
                        <td>
                            The person who set up the account. In addition to agent and administrat
                        </td>
                        <td>Ashutosh Mishra</td>
                        <td>-</td>
                    </tr>

               
                </table>
            </div>
        </div>
        <div style="width:100%; float:left;">
            <div style="width:auto; float:left; margin-right:10px;">Add a pre-chat Form to allow visitors to choose a department before starting a chat. </div>
            <div style="width:auto; float:left;"><div class="cancel_btn">Create Pre-Chat Form </div></div>
        </div>
    </div>

</div>
<app-admin-footer></app-admin-footer>
<app-logout></app-logout>

