
     <nav class="dash-nav">
                <ul>
                          <li><span class="compass-home"></span> <span class="nav-title"> <a  [routerLink]="['/Admin/Support/List']">Home</a></span></li>
                          <li><span class="compass-support"></span> <span class="nav-title"> <a  [routerLink]="['/Admin/Support/List']">Support</a></span></li>
                          <li><span class="compass-contact"></span> <span class="nav-title"> <a  [routerLink]="['/Admin/Contact/List']">Contact</a></span></li>
                          <li><span class="compass-project"></span> <span class="nav-title"> <a  [routerLink]="['/Admin/Project/List']">Project</a></span></li>
                          <li><span class="compass-location"></span> <span class="nav-title"> <a  [routerLink]="['/Admin/Location/List']">Location</a></span></li>
                          <li><span class="compass-support_contract"></span> <span class="nav-title"> <a  [routerLink]="['/Admin/SupportContract/List']">Contract</a></span></li>
                          <li><span class="compass-sign_out"></span> <span class="nav-title"> <a  [routerLink]="['/Logout']">Logout</a></span></li>
                           
                </ul>
        </nav>