<app-admin-header></app-admin-header>
<!-- Main Section -->
<div class="content-wrapper">
    <div class="container">
        <div class="row">

            <div class="buynow">
                <div class="col-xl-12">
                    <span class="pull-left">Edit Agent</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 agentd">

                <div class="agent">
                    <div class="left">Agent Status</div>
                    <div class="right">
                        <div id="horizontalTab">
                            <ul class="resp-tabs-list">
                                <li>Enabled</li>
                                <li>Desabled</li>
                            </ul>
                            <p>1 day remaining in your trial. You will be restricted to one agent after your trial ends. Upgrade now and add more agents.</p>
                        </div>
                    </div>

                </div>

                <div class="agnt">
                    <div class="left">Name</div>
                    <div class="right"><input type="text" id="firstName" placeholder="Full Name" class="form-control" autofocus></div>
                </div>
                <div class="agnt">
                    <div class="left">Display Name</div>
                    <div class="right"><input type="text" id="firstName" placeholder="Mukesh" class="form-control" autofocus></div>
                </div>
                <div class="agnt">
                    <div class="left">Email</div>
                    <div class="right"><input type="text" id="firstName" placeholder="mukesh@gmail.com" class="form-control" autofocus></div>
                </div>
                <div class="agnt">
                    <div class="left"></div>
                    <div class="right"><div class="button">Reset password</div></div>
                </div>
                <div class="agnt">
                    <div class="left">Chat Limit</div>
                    <div class="right">
                        <input type="text" id="firstName" placeholder="3" class="form-control" autofocus>
                        <span>Number of chats the agent is allowed to take. Edit other Chat Routing settings under Routing <a href="#">> Settings.</a></span>
                        <p><strong>Chat Limits are set for the whole account</strong></p>
                    </div>
                </div>
                <div class="agnt">
                    <div class="left">Skills</div>
                    <div class="right">
                        <input type="text" id="firstName" placeholder="Full Name" class="form-control" autofocus>
                        <span>Identify the agent's capabilities. Assign up to 5 Skills per agent. Add Skills under Routing <a href="#">> Skills.</a></span>
                    </div>
                </div>
                <div class="agnt">
                    <div class="left">Role</div>
                    <div class="right">
                        <select id="example-single">
                            <option value="">Select Role</option>
                            <option value="">Administrator</option>
                            <option value="">Agent</option>
                        </select>
                        <span>Defines responsibilities for this agent. Customize permissions for your roles under Settings <a href="#">> Roles.</a></span>
                    </div>
                </div>

                <div class="save_change">
                    <div class="right">
                        <div class="default"><i class="fa fa-upload"></i> Save Change</div>
                        <div class="cancel"><i class="fa fa-trash"></i> Cancel</div>

                    </div>




                </div>


            </div>



            <div class="col-lg-4">
                <div class="add_agent">
                    <h4>Quick Tips</h4>
                    <div class="images-d"><img src="assets/img/vv.jpg" width="150" height="84"></div>
                    <strong>Customer Satisfaction</strong>
                    <p>
                        Adding more agents to your account will let you serve customers more quickly. Here's an infographic demonstrating the importance of having multiple agents.
                    </p><br>

                    <strong>Administrators</strong><br>
                    <p>You can select which agents have administrator rights. Only administrators and the account owner can manage agents and triggers, modify account settings, and customize the widget.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-admin-footer></app-admin-footer>
<app-logout></app-logout>

