<app-admin-header></app-admin-header>
<!-- Main Section -->
<div class="content-wrapper">

    <div class="container">
        <div class="row">

            <div class="buynow">
                <div class="col-xl-12">
                    <span class="pull-left">Widget</span>

                </div>
            </div>

        </div>


    </div>
    <div class="container">
        <div class="row">
            <div class="widget">
                <div class="agent">
                    <div class="right">

                        <div id="horizontalTab">
                            <ul class="resp-tabs-list">
                                <li>Getting Started</li>
                                <li>Appearance</li>
                                <li>Forms</li>
                                <li>Settings</li>
                                <li>Widget Security</li>
                            </ul>
                            <div class="resp-tabs-container">
                                <div>
                                    <div class="widget_ds">
                                        <div class="inner">
                                            <div class="inner_ds">
                                                <h4>1. Embed the Zendesk Chat Widget</h4>
                                            </div>
                                            <p>To chat with your visitors, you’ll need to embed the widget on your website.</p>
                                            <p><strong>Copy the following script and insert it into your website's HTML source code between the <em>[head]</em> tags.</strong></p>

<textarea class="demo form-control" style="width:640px; overflow:hidden; font-size:12px; min-height:180px; border:solid 1px #e2e2e2; margin:10px 0px; padding:0px 10px; float:left;">


</textarea>




                                        </div>
                                        <div class="inner1">
                                            <div class="inner_ds1">
                                                <h4>2. Plugins</h4>
                                            </div>
                                            <p>If your website is hosted on Wordpress or Shopify and you can't access its HTML file, you can use our plugins to install Zendesk Chat with just one click. No need to mess around with any code.</p>

                                        </div>
                                        <div class="inner2">
                                            <div class="inner_ds2">
                                                <h4>Email Your Developer</h4>
                                            </div>
                                            <p>Not sure what to do? Send the code to someone who can help you or watch the video tutorial.</p>

                                        </div>
                                        <div><input placeholder="Email address" required class="form-control" type="email"><a href="#" class="button">Send</a> </div>
                                    </div>
                                    <div class="right_wi">

                                        <div class="add_agent">
                                            <h4>Quick Tips</h4>
                                            <div class="images-d"><img src="assets/img/vv.jpg" width="150" height="84"></div>
                                            <h5>Widget Design</h5>
                                            <p>
                                                Grab your visitor’s attention with customizable widget layouts, themes, and the Chat Badge.
                                                <span>Watch the video</span>
                                            </p>

                                            <h5>Social Integration</h5>
                                            <p>Personalize visitor interaction by integrating with social networks (Facebook and Google+).</p>

                                            <h5>Customized Greetings</h5>
                                            <p>Customize the widget’s language, pre-chat forms, and online/offline messages.</p>

                                        </div>

                                    </div>
                                </div>

                                <div>2</div>
                                <div>3</div>
                                <div>4</div>
                                <div>5</div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>



        </div>
    </div>


</div>
    <app-admin-footer></app-admin-footer>
    <app-logout></app-logout>

