  <!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" [routerLink]="['/home']">Bol 7</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <select id="s1">
            <option value="saab" data-imgsrc="assets/img/live.png" data-description="">Online</option>
            <option value="mercedes" data-imgsrc="assets/img/away.png" data-description="">Away</option>
            <option value="saab" data-imgsrc="assets/img/invisible.png" data-description="">Invisible</option>
        </select>

        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" [routerLink]="['/home']">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Home</span>
                </a> 
            </li>
            <!--<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
                <a class="nav-link" [routerLink]="['/visitors']">
                    <i class="fa fa-fw fa-area-chart"></i>
                    <span class="nav-link-text">Visitors</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                <a class="nav-link" [routerLink]="['/analytics']">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Analytics</span>
                </a>
            </li>-->

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                <a class="nav-link" [routerLink]="['/history']">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">History</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                <a class="nav-link" [routerLink]="['/qa']">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Q n A Maker</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                <a class="nav-link" [routerLink]="['/monitoring']">
                    <i class="fa fa-fw fa-table"></i>
                    <span class="nav-link-text">Monitor</span>
                </a>
            </li>


            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-wrench"></i>
                    <span class="nav-link-text">Setting</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseComponents">
                    <li><a [routerLink]="['/agents']">Agents</a></li>
                    <li><a [routerLink]="['/department']">Departments</a></li>
                    <li><a [routerLink]="['/roles']">Roles</a></li>
                    <li><a [routerLink]="['/routing']">Routing</a></li>
                    <li><a [routerLink]="['/shortcuts']">Shortcuts</a></li>
                    <li><a [routerLink]="['/banned']">Banned</a></li>
                    <li><a [routerLink]="['/triggers']">Triggers</a></li>
                    <li><a [routerLink]="['/goals']">Goals</a></li>
                    <li><a [routerLink]="['/widget']">Widget</a></li>
                    <li><a [routerLink]="['/personal']">Personal</a></li>
                    <li><a [routerLink]="['/account']">Account</a></li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-file"></i>
                    <span class="nav-link-text">Team</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseExamplePages">
                    <li>
                        <a [routerLink]="['/']">All View</a>
                    </li>

                </ul>
            </li>


        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-envelope"></i>
                    <span class="d-lg-none">
                        Messages
                        <span class="badge badge-pill badge-primary">12 New</span>
                    </span>
                    <span class="indicator text-primary d-none d-lg-block">
                        <i class="fa fa-fw fa-circle"></i>
                    </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                    <h6 class="dropdown-header">New Messages:</h6>
                    <div *ngFor="let chat of chats">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <strong>{{chat.channelId}}</strong>
                            <span class="small float-right text-muted">{{chat.created | date:'h:mma'}}</span>
                            <div class="dropdown-message small">{{chat.message}}</div>
                        </a>
                        </div>
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item small" href="#">View all messages</a>
                    </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-bell"></i>
                    <span class="d-lg-none">
                        Alerts
                        <span class="badge badge-pill badge-warning">6 New</span>
                    </span>
                    <span class="indicator text-warning d-none d-lg-block">
                        <i class="fa fa-fw fa-circle"></i>
                    </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">New Alerts:</h6>
                    <div *ngFor="let pcareq of PendingAgentAssitants">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" [routerLink]="['/agentchat']">
                            <span class="text-success">
                                <strong>
                                    <i class="fa fa-long-arrow-up fa-fw"></i>Status Update
                                </strong>
                            </span>
                            <div class="svd">{{pcareq.created |date:'h:mma'}}</div>
                            <div class="svd" title="">{{ pcareq.userName }}.</div>
                        </a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item small" [routerLink]="['/agentchat']">View all alerts</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>Logout
                </a>
            </li>
        </ul>
    </div>
</nav>
